
<owc-card rounded>
    <owc-component-header slot="header">
        <div class="title"> Select driver </div>
        <div slot="suffix" class="icon-buttons">
            <owc-icon-button family="outlined" icon="more_vertical" variant="inner"></owc-icon-button>
        </div>
    </owc-component-header>
    <div class="content-area">
        <driver-selector></driver-selector>
    </div>
    <owc-component-footer slot="footer">
        <div slot="suffix" class="buttons">
            <owc-button elevated> Next </owc-button>
        </div>
    </owc-component-footer>
</owc-card>

