.card-container {
    width: 50%; 
    margin: 0 auto; 
}
.title {
    font-weight: 500;
    color: var(--one-color-foreground-base);
}

.icon-buttons {
    display: flex;
    align-items: center;
    gap: 4px;
}

.content-area {
    height: 300px;
    width: 100%;
    background: var(--one-color-interaction-disabled-intensity-low);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}
